<header>
  <p class="tagline">The most awesome way to resize photos on the web!</p>
  <h1>Multi Photo Resizer</h1>  
</header>

<div id="drop-area">
  <div class="upload-link-wrapper">
    <h2>
      Drop Photos here.
      <input name="file-picker-button" type="file" id="file-picker-button" multiple />
    </h2>
  </div>

  <span class="back-arrow">&laquo;</span>
</div>

<div id="photo-collection">
  <div class="photos-wrapper">

  </div>
</div>

<div id="settings-bar">
  <div class="ratio-slider">
    <div class="start"></div>
    <div class="middle">
      <div class="percentage"></div>
      <div class="handle"></div>
    </div>
    <div class="end"></div>
  </div>
  <div id="percentage">
    100%
  </div>
  <div class="button" id="resize-photos-button">
    Resize Photos
  </div>
</div>