<header>
  <h1>Batch Photo Resizer</h1>
</header>

<div id="drop-area">
  <div class="upload-link-wrapper">
    <h2>
      Drop Photos here.
      <input name="file-picker-button" type="file" id="file-picker-button" multiple />
    </h2>
  </div>  
</div>