<header>
  <h1>Batch Photo Resizer</h1>
</header>

<div id="drop-area">
  <div class="upload-link-wrapper">
    <h2>
      Drop Photos here.
      <input name="file-picker-button" type="file" id="file-picker-button" multiple />
    </h2>
  </div>

  <span class="back-arrow">&laquo;</span>
</div>

<div id="photo-collection">
  <div class="photos-wrapper">

  </div>
</div>

<div id="settings-bar">
  <h2>Settings</h2>
  <div class="ratio">
    <label>Ratio:</label>
    <input id="ratio" type="range" min="0" max="100" step="5" value="40"/>
  </div>

  <div class="button" id="resize-photos-button">
    Resize Photos
  </div>
</div>