html
  height: 100%
  position: relative

body
  font-family: "Helvetica Neue", Helvetica,  Arial
  background: #f0f0f0 url('/images/background.png')
  -webkit-user-select: default

body.dragging
  cursor: pointer !important
  -webkit-user-select: none

  // #percentage
  //   color: #e6e6e6 !important

#container
  header
    border-bottom: 1px #999 solid
    background: #f0f0f0 // -webkit-linear-gradient(top, #fafafa 0%, #ebebeb 100%)
    overflow: hidden

    h1
      font-size: 32px
      padding: 25px
      color: rgb(82, 82, 82)
      font-family: Domine, Georgia, Helvetica,  Arial
      // border-bottom: 1px #fff solid
      float: left

    .tagline
      display: block
      float: right
      color: #666
      font-style: italic
      font-size: 16px
      padding: 25px
      line-height: 32px
      text-shadow: 1px 1px #fff

#drop-area
  border: 2px #699393 dashed
  background: #e4f6f6
  position: absolute
  left: 10px
  right: 10px
  bottom: 10px
  top: 95px

  &.dragover
    opacity: 0.5 !important

  .upload-link-wrapper
    width: 100%
    top: 50%
    position: absolute    

    h2
      margin: 0 auto
      width: 210px
      height: 24px
      font-size: 24px
      font-family: "Helvetica Neue", Helvetica,  Arial
      color: #699393
      text-shadow: 1px 1px 1px #fff
      text-align: center
      text-decoration: underline
      cursor: pointer      
      position: relative
      overflow: hidden

      input[type=file]
        cursor: pointer
        position: absolute
        top: 0
        opacity: 0

  .back-arrow
    display: none
    position: absolute
    right: 0
    top: 50%
    width: 55px
    height: 24px
    text-align: center
    text-decoration: none
    font-size: 24px
    color: #699393    
    font-family: "Helvetica Neue", Helvetica,  Arial
  
#drop-area.hidden
  .back-arrow
    display: block

  &:hover
    border-style: solid    
    cursor: pointer

    .back-arrow
      font-weight: bold

#drop-area.hidden.dragover
  transition: all 0.1s ease-in-out
  -webkit-transform: translate(10px, 0) !important

#photo-collection
  // border: 2px #d2d1cb solid
  // background: #fcfbf4
  position: absolute
  left: 66px
  right: 10px
  bottom: 10px
  top: 95px
  z-index: -100
  overflow-y: scroll

  .photos-wrapper
    padding: 0 0 80px 0
    overflow: hidden

    .photo
      float: left
      background: -webkit-linear-gradient(top, rgb(255,255,255) 80%, rgb(240,240,240) 100%)
      margin: 15px
      padding: 15px
      height: 308px
      box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.8)
      -webkit-backface-visibility: hidden

      h3
        padding: 15px 0 5px 0
        font-size: 16px
        font-family: "Permanent Marker", "Arial Rounded", Arial
        font-weight: normal
        color: #323232
        text-shadow: 0px 1px 0px #fff
        text-align: center
        text-transform: uppercase

      img
        display: none

      canvas
        background: white

    // .photo:last-child
    //   margin-right: 0

    // .photo:hover
    //   transition: all 0.1s ease-in-out
    //   -webkit-transform: rotate(0deg) scale(1.01) !important
    //   cursor: pointer

#settings-bar
  position: absolute
  bottom: 10px
  left: 66px
  right: 10px
  padding: 10px
  // background: #f0f0f0
  border-radius: 10px
  // border: 1px #999 solid

  .ratio-slider
    float: left
    height: 60px
    margin-right: 10px

    .start, .middle, .end
      float: left
      width: 20px
      height: 60px
      background-repeat: no-repeat
      background-position: center center

    .start
      background-image: url('/images/slider-start.png')
    
    .end
      background-image: url('/images/slider-end.png')
    
    .middle
      width: 0
      background-image: url('/images/slider-middle.png')
      background-repeat: repeat-x
      position: relative

      .handle
        width: 40px
        height: 40px
        background: url('/images/slider-handle.png') no-repeat center center
        position: absolute
        top: 10px

      .handle:hover
        background-image: url('/images/slider-handle-hover.png')
        cursor: pointer

      .handle.active
        background-image: url('/images/slider-handle-active.png')

      .percentage
        width: 120px
        height: 60px
        background: url('/images/slider-middle-percentage.png') repeat-x center center

  // .ratio-slider:hover .handle
  //   background-image: url('/images/slider-handle-hover.png')

  .ratio-slider:hover
    cursor: pointer

  #percentage
    float: left
    font-size: 28px
    margin-right: 20px
    color: #fff
    font-weight: bold
    font-family: Arial, Helvetica
    // text-shadow: -1px -1px rgba(0,0,0,0.2), 1px 1px rgba(0,0,0,0.2)
    // text-shadow: 0 0 5px rgba(0,0,0,0.5)
    -webkit-text-stroke: 1px #000
    line-height: 60px

  .button
    float: right
    width: 220px
    height: 60px
    background: url('/images/cta-button.png') no-repeat center center
    text-shadow: 0 1px 2px #000
    font-size: 22px
    color: #fff
    font-weight: bold
    line-height: 60px
    text-align: center

  .button:hover
    cursor: pointer
    text-shadow: 0 1px 2px #000
    line-height: 58px
    text-decoration: underline

  .button:active
    color: #eeffb0 // f5ffd0
    text-shadow: 0 -1px 0 #173407, 0 -1px rgba(0, 0, 0, 0.5)
    line-height: 60px

._LVhaircutExpand, ._LVshowHaircutExpand
  display: none